In [5]:
import pandas as pd

## 1 - Faça a leitura do Dataset exercicio_1.csv

In [8]:
#Utilize o parâmetro sep=";" para leitura do Dataset
df = pd.read_csv('./exercicio_1.csv', sep=';')
df.head()

   id_venda nome_produto  vendas  custo  preco
0         1        Lindt     150    5.0    8.0
1         2      Cadbury     200    3.0    6.0
2         3    Hershey's     180    4.0    7.0
3         4        Lindt     120    5.0    8.0
4         5      Cadbury     170    3.0    6.0

## 2 - Crie uma nova coluna com o nome df["margem_lucro"] com o cálculo: margem_lucro = preco - custo

In [11]:
df['margem_lucro'] = 0

df['margem_lucro'] = df['preco'] - df['custo']

df

   id_venda nome_produto  vendas  custo  preco  margem_lucro
0         1        Lindt     150    5.0    8.0           3.0
1         2      Cadbury     200    3.0    6.0           3.0
2         3    Hershey's     180    4.0    7.0           3.0
3         4        Lindt     120    5.0    8.0           3.0
4         5      Cadbury     170    3.0    6.0           3.0
5         6    Hershey's     190    4.0    7.0           3.0

## 3 - Filtre as vendas para uma marca específica. Escolha a marca Lindt e exiba todas as suas vendas.

In [13]:
vendas_lindt = df[df['nome_produto'] == 'Lindt']

print(vendas_lindt)

   id_venda nome_produto  vendas  custo  preco  margem_lucro
0         1        Lindt     150    5.0    8.0           3.0
3         4        Lindt     120    5.0    8.0           3.0

## 4 - Qual a soma de vendas do produto 'Cadbury' ?

In [39]:
df
vendas_cadbury = df[df['nome_produto'] == 'Cadbury']
vendas_cadbury_total = vendas_cadbury['vendas'].sum()
vendas_cadbury_total

370

## 5 - (Extra) Ordene o dataset com a soma da coluna de vendas por produto?
Dica: Realizar agrupamento por produto realizando a soma da coluna vendas, por fim ordenar pelo novo valor da soma final.

In [35]:
vendas_agrupadas = df.groupby('nome_produto')['vendas'].sum().reset_index().sort_values(by='vendas', ascending=False)
vendas_agrupadas

  nome_produto  vendas
0      Cadbury     370
1    Hershey's     370
2        Lindt     270

In [37]:
vendas_agrupadas = df.groupby('nome_produto')['vendas'].sum().reset_index()

vendas_agrupadas_ordenadas = vendas_agrupadas.sort_values(by='vendas', ascending=False)

print(vendas_agrupadas_ordenadas)

  nome_produto  vendas
0      Cadbury     370
1    Hershey's     370
2        Lindt     270