In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
data1 = {
    'Store Name': [f'Store {i}' for i in range(1, 51)],
    'Store ID': np.arange(1001, 1051),
    'Sales (USD)': np.random.randint(40000, 70000, size=50),
    'Country': np.random.choice(['USA', 'Canada', 'UK', 'Australia', 'Japan'], size=50),
    'City': np.random.choice(['New York', 'Los Angeles', 'Toronto', 'London', 'Sydney', 'Tokyo'], size=50),
    'Employees': np.random.randint(15, 35, size=50)
}

data2 = {
    'Store Name': [f'Store {i}' for i in range(51, 101)],
    'Store ID': np.arange(2001, 2051),
    'Sales (USD)': np.random.randint(40000, 70000, size=50),
    'Country': np.random.choice(['Germany', 'France', 'Italy', 'Spain', 'Brazil', 'India'], size=50),
    'City': np.random.choice(['Berlin', 'Paris', 'Rome', 'Madrid', 'Sao Paulo', 'Mumbai'], size=50),
    'Employees': np.random.randint(15, 35, size=50)
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df1.head()

  Store Name  Store ID  Sales (USD) Country         City  Employees
0    Store 1      1001        40139     USA  Los Angeles         23
1    Store 2      1002        67855      UK      Toronto         15
2    Store 3      1003        42368     USA     New York         23
3    Store 4      1004        59640   Japan  Los Angeles         17
4    Store 5      1005        51789      UK     New York         19

In [3]:
df2['Employees'] = df2['Employees'].astype(int)
df2['Employees'].dtype
#df2.head()

dtype('int32')

In [4]:
df2.iloc[0, 1]

2001

In [5]:
df2.iloc[0:3, 1:3]

   Store ID  Sales (USD)
0      2001        56462
1      2002        59947
2      2003        59843

In [6]:
condition1 = df2['Store ID'] < 2005
condition1.head()

0     True
1     True
2     True
3     True
4    False
Name: Store ID, dtype: bool

In [7]:
df2[condition1]

  Store Name  Store ID  Sales (USD)  Country    City  Employees
0   Store 51      2001        56462    India    Rome         26
1   Store 52      2002        59947    Italy  Berlin         30
2   Store 53      2003        59843    Italy    Rome         31
3   Store 54      2004        53406  Germany  Mumbai         27

In [8]:
df1[(df1['Store ID'] <= 1025) & (df1['Country'] == 'USA')]

   Store Name  Store ID  Sales (USD) Country         City  Employees
0     Store 1      1001        40139     USA  Los Angeles         23
2     Store 3      1003        42368     USA     New York         23
6     Store 7      1007        58359     USA        Tokyo         26
18   Store 19      1019        46778     USA       London         34
21   Store 22      1022        56141     USA       London         28

In [9]:
df1.groupby('Country')['Sales (USD)'].sum().reset_index()

     Country  Sales (USD)
0  Australia       759277
1     Canada       709440
2      Japan       520730
3         UK       560613
4        USA       243785

In [10]:
# WROOOOOOOOOOONG
df1EmpCity = df1.groupby('City')['Employees'].sum().reset_index()
#df1EmpCity
df1['Employees per City'] = df1EmpCity['Employees']
df1.head()

,Store Name,Store ID,Sales (USD),Country,City,Employees,Employees per City
0,Store 1,1001,40139,USA,Los Angeles,23,221.0
1,Store 2,1002,67855,UK,Toronto,15,161.0
2,Store 3,1003,42368,USA,New York,23,344.0
3,Store 4,1004,59640,Japan,Los Angeles,17,199.0
4,Store 5,1005,51789,UK,New York,19,158.0

In [11]:
df2.head()

  Store Name  Store ID  Sales (USD)  Country    City  Employees
0   Store 51      2001        56462    India    Rome         26
1   Store 52      2002        59947    Italy  Berlin         30
2   Store 53      2003        59843    Italy    Rome         31
3   Store 54      2004        53406  Germany  Mumbai         27
4   Store 55      2005        67531    Spain  Mumbai         18

In [12]:
df2.groupby('City')['Employees'].sum().reset_index()

        City  Employees
0     Berlin        303
1     Madrid        138
2     Mumbai        274
3      Paris        123
4       Rome        204
5  Sao Paulo        159

In [13]:
df2['Sales/Employee'] = df2['Sales (USD)'] / df2['Employees']
df2['Sales/Employee'] = df2['Sales/Employee'].round(2)
df2.head()

,Store Name,Store ID,Sales (USD),Country,City,Employees,Sales/Employee
0,Store 51,2001,56462,India,Rome,26,2171.62
1,Store 52,2002,59947,Italy,Berlin,30,1998.23
2,Store 53,2003,59843,Italy,Rome,31,1930.42
3,Store 54,2004,53406,Germany,Mumbai,27,1978.00
4,Store 55,2005,67531,Spain,Mumbai,18,3751.72

In [14]:
merged_df = pd.merge(df1, df2, on='Store Name', how='outer')
merged_df.head()
#cagada

,Store Name,Store ID_x,Sales (USD)_x,Country_x,City_x,Employees_x,Employees per City,Store ID_y,Sales (USD)_y,Country_y,City_y,Employees_y,Sales/Employee
0,Store 1,1001.0,40139.0,USA,Los Angeles,23.0,221.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Store 10,1010.0,53935.0,Australia,Los Angeles,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Store 100,NaN,NaN,NaN,NaN,NaN,NaN,2050.0,62986.0,Germany,Rome,23.0,2738.52
3,Store 11,1011.0,57189.0,Japan,London,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Store 12,1012.0,58103.0,UK,London,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df1.sort_values('Sales (USD)', ascending=False).head()

,Store Name,Store ID,Sales (USD),Country,City,Employees,Employees per City
38,Store 39,1039,69007,Canada,Sydney,22,NaN
39,Store 40,1040,68735,Japan,Toronto,26,NaN
29,Store 30,1030,68566,Canada,Sydney,33,NaN
22,Store 23,1023,68073,Japan,London,26,NaN
46,Store 47,1047,67857,Canada,New York,21,NaN

In [16]:
total_size = df2.groupby('Store Name').size()
total_size.head()

Store Name
Store 100    1
Store 51     1
Store 52     1
Store 53     1
Store 54     1
dtype: int64

In [17]:

value_counts = df2['Store Name'].value_counts()
repeated_store_names = value_counts[value_counts > 1]

#repeated_store_names
df2.iloc[3,0] = 'Store 1001'
df2.head()

,Store Name,Store ID,Sales (USD),Country,City,Employees,Sales/Employee
0,Store 51,2001,56462,India,Rome,26,2171.62
1,Store 52,2002,59947,Italy,Berlin,30,1998.23
2,Store 53,2003,59843,Italy,Rome,31,1930.42
3,Store 1001,2004,53406,Germany,Mumbai,27,1978.00
4,Store 55,2005,67531,Spain,Mumbai,18,3751.72

In [18]:
pd.options.display.float_format = '{0:.2f}'.format
df2.describe()

       Store ID  Sales (USD)  Employees  Sales/Employee
count     50.00        50.00      50.00           50.00
mean    2025.50     55777.26      24.02         2473.03
std       14.58      8244.81       5.65          765.39
min     2001.00     40596.00      15.00         1298.58
25%     2013.25     49159.50      19.25         1944.36
50%     2025.50     56218.50      24.50         2344.38
75%     2037.75     61909.50      28.00         2858.28
max     2050.00     69720.00      33.00         4368.20

In [25]:
fig = px.box(df2, x='Employees')
fig.show()

In [30]:
fig = px.histogram(df2, x='Employees', nbins=50)
fig.show()

In [33]:
df2.sort_values('Sales (USD)', ascending=False).head()

,Store Name,Store ID,Sales (USD),Country,City,Employees,Sales/Employee
8,Store 59,2009,69720,India,Mumbai,26,2681.54
32,Store 83,2033,67927,India,Berlin,32,2122.72
11,Store 62,2012,67772,India,Sao Paulo,27,2510.07
4,Store 55,2005,67531,Spain,Mumbai,18,3751.72
43,Store 94,2044,67208,Brazil,Mumbai,32,2100.25

In [41]:
df_selection = df2[(df2['Sales (USD)'] > 50000) & (df2['City'] != 'Sao Paulo')].copy()
df_selection.sort_values('Sales/Employee', ascending=False).head()

,Store Name,Store ID,Sales (USD),Country,City,Employees,Sales/Employee
5,Store 56,2006,65523,Spain,Mumbai,15,4368.20
13,Store 64,2014,66460,Brazil,Madrid,16,4153.75
4,Store 55,2005,67531,Spain,Mumbai,18,3751.72
34,Store 85,2035,55521,Italy,Berlin,15,3701.40
25,Store 76,2026,55424,Spain,Madrid,15,3694.93