## Import das bibliotecas

In [1]:
#import do pandas
import pandas as pd

## Crie um novo dataframe com .csv orders.

In [5]:
#criar novo dataframe a partir de um .csv
df = pd.read_csv('orders.csv')
df.head()

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_moment_delivering,order_moment_delivered,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time
0,68405119,3512,5,68405119,68405119,CANCELED,62.7,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68405123,3512,5,68405123,68405123,CANCELED,62.7,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68405206,3512,5,68405206,68405206,CANCELED,115.5,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,68405465,3401,5,68405465,68405465,CANCELED,55.9,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68406064,3401,5,68406064,68406064,CANCELED,37.9,0.0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Quantos registros temos na nossa base?

In [ ]:
#quantidade de registros no dataframe

## Há dados faltantes na nossa base?

In [ ]:
#informações sobre o dataframe

## Desde quando temos esse histórico?

In [ ]:
#type da coluna de data

In [ ]:
#min da coluna de data

In [ ]:
#max da coluna de data

In [ ]:
#cast da coluna de data para o formato correto

In [ ]:
#min da coluna de data

In [ ]:
#max da coluna de data

## Quantas lojas atendemos na nossa base?

In [ ]:
#contagem das lojas únicas

## Quais são as principais lojas em quantidade de atendimento?

In [ ]:
#ranking das maiores lojas por pedidos

In [ ]:
#group by com contagem agregada

## Qual a distribuição entre os status?

In [ ]:
#distribuição entre status

In [ ]:
#distribuição entre status por porcentagem

## Qual o nome das lojas da tabela orders?

In [ ]:
#criação de um novo dataframe a partir de stores

In [ ]:
#informações sobre o dataframe

In [ ]:
#criação de um novo dataframe a partir de id e name

In [ ]:
#merge/join com orders

In [ ]:
#análise dos registros

In [ ]:
#informações sobre o dataframe

In [ ]:
#group by com contagem agregada

In [ ]:
#cast como string

In [ ]:
#procura as lojas em stores

In [ ]:
#remove os espaços nas bordas

In [ ]:
#procura as lojas em stores

#Exercícios

## 1 - Quais lojas possuem mais valores repedidos em df_stores?

## 2 - Quais lojas possuem maior valor de pedidos?

## 3 - Quais lojas tem o maior tempo de produção do pedido?

## 4 - Num cenário de negócio, quais alternativas você recomenda para diminuir o tempo de produção dos pedidos?
Pode utilizar o Google, ChatGPT para pesquisar sobre o assunto. Consegue indicar algum artigo ciêntifíco, reposítório, ou análise no Kaggle que já tratou sobre este problema?

## 5 - Quais são os principais Shoppings/Cidades em número de Pedidos. Faça o upload do .csv de hubs e realize os joins entre os dataframes de orders, stores e hubs para chegar no resultado.